<nav style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
    <span style="font-weight: 500;"><a href="/" style="color: inherit; text-decoration: none;">Andrew Langdon</a></span>
    <div style="display: flex; gap: 0.5rem;">
        <a href="mailto:andrewlngdn@gmail.com" role="button">Contact</a>
        <a href="https://www.linkedin.com/in/andrew-langdon-583b1952/" role="button" target="_blank">LinkedIn</a>
        <a href="/Andrew_Langdon_resume_2pg.pdf" role="button" target="_blank">Resume</a>
    </div>
</nav>
